<h2>Your Pragmatic Cart</h2>
<ul>
  <% @cart.items.each do |item| %>
    <li><%= item.quantity %> &times; <%=h item.title %></li>
  <% end %>
</ul>

<%= button_to "Empty Cart", :action => "empty_cart" %>